@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #E9E9E9;
    height: 100vh;
    font-family: Roboto;
    
}

.follower-count {
    font-weight: 400;
    font-size: 12px;
    display: flex;
}

.pp {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.1s;
}

.profile-info {
    display: flex;
    align-items: center;
}

.post-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-bottom: 1px;
}

.post-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments {
    font-size: 16px;
    font-weight: 500;
    margin: 15px 15px 15px 0;
}

.item-ar {
    width: 25px;
    height: 18px;
}

.comments-cont {
    display: flex;
    align-items: center;
}

.username {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.verified {
    width: 12px;
    margin-left: 4px;
}

.article-img {
    width: 100%;
    margin-bottom: 10px;
}

.nav-desk {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.nav-buttons {
    color: black;
    margin: 0 50px;
    font-size: 50px !important;
}

.nav-buttons:hover {
    color: red;
}


.pp:hover {
    transform: scale(2);
}

.fill, .empty {
    margin: 0 0 20px 20px;
    font-size: 60px !important;
    transition: 0.1s;
    transform: scale(1.2, 1);
}

.date-cont {
    display: flex;
    justify-content: flex-end;
}

.date {
    font-size: 12px;
    font-weight: 500;
    margin: 5px 5px 5px 5px;
}

.fill {
    color: rgb(0, 163, 0);
}

.empty {
    color: red;
}

.fill:active {
    transform: translateY(-10px);
}

.empty:active {
    transform: translateY(10px);
}

.btn-yes, .btn-idk, .btn-no {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    font-size: 20px;
    width: 80px;
    height: 35px;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 35px;
    border: none;
    transition: 0.1s;
}

.btn-yes:focus, .btn-idk:focus, .btn-no:focus {
    outline: none;
}

.btn-yes:active, .btn-idk:active, .btn-no:active {
    transform: translateY(5px);
}

.btn-yes {
    background: #00F235;
}

.btn-idk {
    background: #C4C4C4;
}

.btn-no {
    background: #FF0000;
}

p {
    font-size: 20px;
    margin: 0 5px 15px 15px;
    line-height: 25px;
}

.post {
    margin: 8px auto;
    width: 720px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: 50px;
}

.nav-bottom {
    display: none;
}

.logo {
    display: none;
}

@media all and (max-width: 720px){ 

    p {
        font-size: 18px;
        line-height: 23px;
    }

    .post {
        width: 100%;
    }
}

@media all and (max-width: 560px){ 

    .nav-buttons {
        color: black;
        margin: 0 20px;
        font-size: 40px !important;
    }

    .logo-letter {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 15px;
        line-height: 20px;
    }
    
    .logo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 50px;
    }

    .post {
        top: 40px;
    }

    .nav-desk {
        display: none;
    }

    .nav-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 5;
        border-top: 1px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 40px;
    }
}
